{% extends 'timetracking/base.html' %}
{% load staticfiles %}

{% block base_content %}

<p><a href="{% url "timetracking:jobs" %}">Jobs</a></p>

<h1>Job: {{ object }}</h1>

<div class="row">
    <div class="six columns">
        <form id="job_update_form" action="" method="post">{% csrf_token %}
            <h2>Update this Job</h2>
            {{ form.as_p }}
            <input type="submit" value="Update" class="button" />
        </form>

        <p class="status">
        </p>
    </div>
    <div class="six columns">
        <form id="get_invoice_form" action="" method="post">{% csrf_token %}
            <h2>Create an Invoice</h2>
            <input type="date" name="start_date" />
            <input type="date" name="end_date" />
            <input type="submit" value="Generate Invoice" class="button" />
        </form>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $form = $("#job_update_form");
    $status = $(".status");

    // Submit the form via AJAX to the current URL
    $form.submit(function(e) {
        e.preventDefault();
        $status.text("");
        $.ajax({
            url: "",
            type: "post",
            data: $form.serializeArray(),

            success: function(result) {
                $status.text("Success.");
                console.log(result);
            },

            error: function(result) {
                $status.text("Error: " + result.responseText);
                console.log(result);
            }
        });
    });
});
</script>

{% endblock %}

