{% extends 'timetracking/base.html' %}
{% load staticfiles %}

{% block base_content %}

<p><a href="{% url "timetracking:time_entries" %}">Time Entries</a></p>

<h1>Time Entry: {{ object }}</h1>

<form id="time_entry_update_form" action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" class="button" />
</form>

<p class="status">
</p>

<script type="text/javascript">
$(document).ready(function() {
    $form = $("#time_entry_update_form");
    $status = $(".status");

    // Submit the form via AJAX to the current URL
    $form.submit(function(e) {
        e.preventDefault();
        $status.text("");
        $.ajax({
            url: "",
            type: "post",
            data: $form.serializeArray(),

            success: function(result) {
                $status.text("Success.");
                console.log(result);
            },

            error: function(result) {
                $status.text("Error: " + result.responseText);
                console.log(result);
            }
        });
    });
});
</script>

{% endblock %}

